// Text colors
$bright-light-color: #FFFFFF;
$light-color: #CDCDCD;
$main-color: #545454;
$accent-color: #F1CDB3;
$accent-hover-color: #FDDCC4;
$button-text-color: #292929;
$about-text-color: #4C4C4C;
$info-text-color: #B2B2B2;
$disabled-color: #CDCDCD;

// Background colors
$main-bg-color: #F6F6F6;
$light-bg-color: #FFFFFF;
$friends-card-bg-color: #FAFAFA;

// Viewports