.button {
  display: block;
  font-family: "Georgia", serif;
  color: $button-text-color;
  background-color: transparent;
  border: 2px solid $accent-color;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 52px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    border-color: $accent-hover-color;
    background-color: $accent-hover-color;
  }

  &:disabled,
  &--disabled,
  &--disabled:hover {
    color: $disabled-color;
    border-color: $disabled-color;
    background-color: transparent;
    pointer-events: none;
  }

  &:disabled svg,
  &--disabled svg {
    fill: $disabled-color;
  }
}
