.description {
  min-height: 800px;
}

.description__wrapper {
  padding-top: 253px;
  padding-bottom: 242px;
  background-image: url("../img/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}

.description__title {
  color: $bright-light-color;
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "Georgia", serif;
  font-size: 44px;
  line-height: 130%;
}

.description__subtitle {
  margin: 0;
  margin-bottom: 42px;
  width: 460px;
}

.description__button {
  text-decoration: none;
  text-align: center;
  width: 207px;
  background-color: $accent-color;
}
