.footer {
  color: $light-color;
  background: url("../img/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  @media (min-resolution: 2dppx) {
    background: url("../img/noise_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 145px;
  background: url("../img/footer-puppy.png") no-repeat bottom right;
  padding-top: 56px;
  padding-bottom: 64px;
}

.footer a {
  display: block;
  text-decoration: none;
  color: $accent-color;
}

.footer__section {
  width: 295px;
}

.footer__section:first-child .footer__title {
  margin-bottom: 44px;
}

.footer__section:last-child .footer__title {
  margin-bottom: 33px;
}

.footer address {
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $accent-color;
  text-align: center;
  padding-left: 18px;
  transition: all 1s;
}

.footer__title {
  color: $bright-light-color;
}

.footer__address {
  position: relative;
  text-align: left;
  padding-left: 21px;
  margin: 0;
}

.footer__address--first {
  margin-bottom: 37px;
}

.footer__address:hover {
  opacity: 0.7;
}

.footer__address::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/pin.svg");
  background-size: 22px 32px;
  background-repeat: no-repeat;
  width: 22px;
  height: 32px;
  left: -19px;
}

.footer__address:first-child::before {
  top: 6px;
}

.footer__address:last-child::before {
  top: -5px;
}

.footer__link:first-child {
  display: block;
  margin-bottom: 49px;
}

.footer__link:last-child {
  margin-left: -12px;
}

.footer__link {
  position: relative;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link::before {
  position: absolute;
  content: "";
  top: -5px;
  background-repeat: no-repeat;
  background-size: 40px 32px;
  width: 40px;
  height: 32px;
}

.footer__link:first-child::before {
  background-image: url("../img/icons/icon-email.svg");
  background-size: 40px 32px;
  width: 40px;
  height: 32px;
  left: -19px;
}

.footer__link:last-child::before {
  background-image: url("../img/icons/icon-phone.svg");
  left: -7px;
}