.footer {
  color: $light-color;
  background: url("../img/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  @media (min-resolution: 2dppx) {
    background: url("../img/noise_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  }

  a {
    display: block;
    text-decoration: none;
    color: $accent-color;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 145px;
  background: url("../img/footer-puppy.png") no-repeat bottom right;
  padding-top: 56px;
  padding-bottom: 64px;

  @media (max-width: $desktop) {
    gap: 42px;
    padding-top: 30px;
    padding-bottom: 380px;
    padding-left: 35px;
    background-position: bottom center;
    justify-content: space-evenly;
  }

  @media (max-width: 770px) {
    justify-content: flex-start;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 314px;
    // background-size: 86%;
    background-size: 50%;
  }

  @media (max-width: 410px) {
    background-size: 70%;
  }

  @media (max-width: $mobile) {
    background-size: 86%;
  }
}

.footer__section {
  width: 295px;

  &:first-child .footer__title {
    margin-bottom: 44px;
  }

  &:last-child .footer__title {
    margin: 0;
    margin-bottom: 33px;
    width: 90%;

    @media (max-width: $tablet) {
      margin: 0 auto;
      margin-bottom: 41px;
    }
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  &:first-child address {
    @media (max-width: $tablet) {
      padding-left: 57px;
      max-width: 350px;
    }
  }
}

.footer address {
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $accent-color;
  text-align: center;
  padding-left: 18px;
  transition: all 1s;
}

.footer__title {
  color: $bright-light-color;
}

.footer__address {
  position: relative;
  text-align: left;
  padding-left: 21px;
  margin: 0;

  &--first {
    margin-bottom: 37px;

    @media (max-width: $tablet) {
      margin-bottom: 44px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icons/pin.svg");
    background-size: 22px 32px;
    background-repeat: no-repeat;
    width: 22px;
    height: 32px;
    left: -19px;
    top: -5px;
  }

  &--first::before {
    top: 6px;
  }
}

.footer__link {
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    background-repeat: no-repeat;
    background-size: 40px 32px;
    width: 40px;
    height: 32px;
  }

  &:first-child {
    display: block;
    margin-bottom: 49px;
  }

  &:last-child {
    margin-left: -12px;

    @media (max-width: $tablet) {
      margin-left: 0;
    }
  }

  &:first-child::before {
    background-image: url("../img/icons/icon-email.svg");
    background-size: 40px 32px;
    width: 40px;
    height: 32px;
    left: -19px;

    @media (max-width: $tablet) {
      left: -34px;
    }
  }

  &:last-child::before {
    background-image: url("../img/icons/icon-phone.svg");
    left: -7px;

    @media (max-width: $tablet) {
      left: -27px;
    }
  }
}
