.header {
  width: $desktop-wrap;
  max-width: 1200px;
  min-height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $desktop) {
    width: $tablet-wrap;
  }

  @media (max-width: $tablet) {
    width: 87.5%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      top: 18px;
      right: 0;
      background-color: $accent-color;
      box-shadow: 0 10px 0 0 $accent-color, 0 20px 0 0 $accent-color;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      top: 10px;
      right: -5px;
      background-color: transparent;
    }
  }
}

.header__logo-link {
  text-decoration: none;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    opacity: 0.7;
  }
}

.header__logo-big-text {
  color: $accent-color;
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 10px;
}

.header__logo-small-text {
  color: $bright-light-color;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
}

.header__navigation {
  margin-right: 2px;
  padding-bottom: 5px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.header--inner {
  padding-top: 30px;
  padding-bottom: 30px;

  &::after {
    @media (max-width: $tablet) {
      top: 49px;
      background-color: #000;
      box-shadow: 0 10px 0 0 #000, 0 20px 0 0 #000;
    }
  }

  .header__logo-big-text {
    color: $main-color;
  }

  .header__logo-small-text {
    color: $button-text-color;
  }
}
