.pagination {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  width: 340px;
  gap: 20px;

  @media (max-width: $tablet) {
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}

.pagination__link {
  text-decoration: none;
  text-align: center;

  &--current {
    background-color: $accent-color;
  }
}
